#cardUpdatePassword{
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-position: center;
    }
#opsn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}